a, a:hover, a:active, a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}

#content dt {
  font-weight: bold;
  margin-bottom: 0.0rem;
  /* color: rgb(0, 94, 170) */
}

#footer {
  text-align: center;
  font-size: small;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 2rem;
}

#footer a, 
#footer a:hover, 
#footer a:active, 
#footer a:visited {
  color: inherit;
}

.centered-vi {
  display: inline-flex; 
  align-items: center;
}

.separator-h {
  line-height: 150%;
  width: 2px;
  background-color: #ccc; 
  margin-left: 8px;
  margin-right: 8px;
}

.svg-markdown {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z'%3E%3C/path%3E%3C/svg%3E");
}

.svg-git {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 24 24'%3E%3Cpath d='M 20.292969 11.792969 L 12.207031 3.707031 C 11.816406 3.316406 11.183594 3.316406 10.792969 3.707031 L 9.101563 5.394531 L 10.855469 7.148438 C 11.050781 7.058594 11.269531 7 11.5 7 C 12.328125 7 13 7.671875 13 8.5 C 13 8.730469 12.941406 8.945313 12.847656 9.144531 L 14.855469 11.148438 C 15.050781 11.058594 15.269531 11 15.5 11 C 16.328125 11 17 11.671875 17 12.5 C 17 13.328125 16.328125 14 15.5 14 C 14.671875 14 14 13.328125 14 12.5 C 14 12.269531 14.054688 12.054688 14.148438 11.855469 L 12.140625 9.851563 C 12.097656 9.871094 12.046875 9.890625 12 9.90625 L 12 15.09375 C 12.578125 15.300781 13 15.847656 13 16.5 C 13 17.328125 12.328125 18 11.5 18 C 10.671875 18 10 17.328125 10 16.5 C 10 15.847656 10.417969 15.296875 11 15.09375 L 11 9.90625 C 10.417969 9.699219 10 9.152344 10 8.5 C 10 8.269531 10.054688 8.054688 10.148438 7.855469 L 8.394531 6.105469 L 2.707031 11.792969 C 2.316406 12.183594 2.316406 12.816406 2.707031 13.207031 L 10.792969 21.292969 C 11.183594 21.683594 11.816406 21.683594 12.207031 21.292969 L 20.292969 13.207031 C 20.683594 12.816406 20.683594 12.183594 20.292969 11.792969 Z'/%3E%3C/svg%3E ");  
}

.svg-github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E");  
}
